@using BlazorElectronics.Shared.DtosOutbound.Products
@using BlazorElectronics.Client.Services.Products
@using BlazorElectronics.Shared
@using BlazorElectronics.Client.Services.Features
@using BlazorElectronics.Shared.Features
@inject IFeaturesServiceClient FeaturesService

@if ( !_isLoaded || _featuredDeals == null )
{
    <span>@_serverMessage</span>
}
else
{
    <div class="container-xxl featured-deals">
        <h3 class="display-2">Top Deals</h3>
        @for ( int row = 0; row < DISPLAY_ROWS; row++ )
        {
            <div class="row">
                @for ( int col = 0; col < DISPLAY_COLS; col++ )
                {
                    @if ( ( row * col ) >= _featuredDeals.Deals.Count )
                        break;

                    <div class="col-4 featured-deal-card">
                        <div class="featured-deal-card-inner">
                            <div class="featured-deal-card-left">
                                <a href="/product/@_featuredDeals.Deals[ row * col ].ProductId">
                                    <h4 class="mb-0">@_featuredDeals.Deals[ row * col ].ProductTitle</h4>
                                </a>
                                <h6 class="text-muted">
                                    $@_featuredDeals.Deals[ row * col ].OriginalPrice
                                </h6>
                                <h4 class="price">
                                    $@_featuredDeals.Deals[ row * col ].SalePrice
                                </h4>
                            </div>
                            <div class="featured-deal-card-right">
                                <a href="/product/@_featuredDeals.Deals[ row * col ].ProductId">
                                    <img src="@_featuredDeals.Deals[ row * col ].ProductThumbnail" alt="@_featuredDeals.Deals[ row * col ].ProductTitle"/>
                                </a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-primary btn-lg featured-deals-all-button">
                See All Deals
            </button>
        </div>
    </div>
}

@code 
{
    const int DISPLAY_ROWS = 2;
    const int DISPLAY_COLS = 3;
    
    string _serverMessage = string.Empty;
    bool _isLoaded = false;
    FeaturedDealsResponse? _featuredDeals;

    protected override async Task OnInitializedAsync()
    {
        _serverMessage = "Loading top deals...";

        ApiReply<FeaturedDealsResponse?>? response = await FeaturesService.GetFeaturedDeals();
        _isLoaded = true;
        
        if ( response == null )
        {
            _serverMessage = "Failed to get Featured Deals from the server, and no response message!";
        }
        else if ( response.Data == null )
        {
            _serverMessage = response.Message ?? "Failed to get Featured Deals from the server, and no response message!";
        }
        else
        {
            _featuredDeals = response.Data;
        }
    }
}