@page "/"
@using BlazorElectronics.Client.Services.Products
@inject IProductServiceClient ProductService

<PageTitle>BlazorElectronics</PageTitle>

<span>@_debugMessage</span>

@code
{
    /*
     <FeaturedProducts></FeaturedProducts>
    <FeaturedDeals></FeaturedDeals>*/
    
    string _debugMessage = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            ProductService.ClearSearchRequest();
        }
        catch ( Exception e )
        {
            _debugMessage = e.Message;
        }

    }
}