@page "/verify"
@using BlazorElectronics.Client.Services.Users
@using System.Collections.Specialized
@using System.Web
@using BlazorElectronics.Shared
@inherits PageView

<div class="mt-5 text-center">
    <AlertMessage></AlertMessage>
</div>

@code 
{
    [Inject] public IUserServiceClient UserService { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        Uri uri = NavManager.ToAbsoluteUri( NavManager.Uri );
        NameValueCollection queryString = HttpUtility.ParseQueryString( uri.Query );
        string? token = queryString.Get( Routes.VERIFY_TOKEN );

        if ( string.IsNullOrWhiteSpace( token ) )
            InvokeAlert( AlertType.Danger, "Invalid activation code!" );

        ServiceReply<bool> reply = await UserService.ActivateAccount( token );

        if ( reply.Success )
            InvokeAlert( AlertType.Success, "Account successfully activated! Please sign in." );
        else
            InvokeAlert( AlertType.Danger, $"{reply.ErrorType} : {reply.Message}" );
    }
}