@page "/search/{primaryCategory}/{secondaryCategory}/{tertiaryCategory}"
@page "/search/{primaryCategory}/{secondaryCategory}"
@page "/search/{primaryCategory}"
@page "/search"
@inherits PageView

<ProductSearchHeader @ref="_searchHeader" OnOpenFilters="@OpenFilters" OnRowsChange="@ApplyRows" OnSortChange="ApplySort"></ProductSearchHeader>
<div class="container-fluid lg-content-wrapper">
    <div class="d-flex w-100 product-search-body">
        <ProductFilters @ref="_filters" OnApplyFilters="@ApplyFilters"></ProductFilters>
        <ProductSearchList @ref="_searchList" OnPageChanged="@ApplyPage"></ProductSearchList>
    </div>
</div>