@page "/products/{primary}/{secondary}/{tertiary}"
@page "/products/{primary}/{secondary}"
@page "/products/{primary}"
@page "/products"

@inherits PageView

@using BlazorElectronics.Client.Shared

<div class="container-md">
    <h3>@_pageTitle</h3>
    <div class="row">
        <div class="col-3">
            <ProductFilters></ProductFilters>
        </div>
        <div class="col-9">
            <ProductSort></ProductSort>
        </div>
    </div>
</div>