.admin-view-row {
    padding: 10px 5px 10px 5px;
}

/* Style for odd rows */
.admin-view-row:nth-child(odd) {
    background-color: #f9f9f9; /* Light grey background */
}
/* Style for even rows */
.admin-view-row:nth-child(even) {
    background-color: #e9e9e9; /* Slightly darker grey background */
}