.top-nav {
    gap: 10px;
    height: 3.5rem;
    padding-top: 10px;
    padding-bottom: 10px;
}

.top-nav .btn {
    height: 50px;
}

.logo-button img {
    height: 100%;
    width: auto;
}

.show-user-menu {
    display: block;
}

.top-nav .oi {
    width: 2rem;
}

.nav-sidebar {
    position: absolute;
    width: 300px;
    height: auto;
    z-index: 100;
    box-shadow: 0 0 3px 3px #4d4d4d;
    border-radius: 5px;
    text-decoration: none;
}

.nav-sidebar-hide {
    display: none;
}

.sidebar-separator {
    border-bottom-color: rgb(213, 219, 219);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}