.top-nav {
    background-color: #444952;
}

.top-nav-inner {
    gap: 10px;
}

.top-nav-secondary {
    background-color: #31343b;
}

.top-nav .btn {
    height: 50px;
}

.logo-button img {
    height: 100%;
    width: auto;
}

.show-user-menu {
    display: block;
}

.top-nav .oi {
    width: 2rem;
}

.nav-sidebar {
    position: absolute;
    width: 300px;
    height: auto;
    z-index: 100;
    box-shadow: 0 0 3px 3px #4d4d4d;
    border-radius: 5px;
    text-decoration: none;
}

.nav-sidebar-hide {
    display: none;
}

.nav-sidebar {
    /* Adjust the overall padding and margin of the sidebar */
    padding: 0;
    margin: 0;
}

.nav-sidebar .bg-dark {
    /* Spacing and alignment for the top section */
    padding: 1rem; /* Adjust as needed */
}

.sidebar-header {
    /* Styling for section headers */
    font-weight: bold;
    padding: 0.75rem 1rem; /* Vertical and horizontal padding */
    color: #333; /* Adjust color as needed */
    background-color: #f8f9fa; /* Light background for headers */
    margin: 0; /* Remove default margins */
}

.nav-sidebar .nav-link {
    /* Styling for navigation links */
    display: block;
    padding: 0.5rem 1rem; /* Consistent padding with headers */
    color: #333; /* Bootstrap primary link color */
    text-decoration: none; /* No underline */
}

.nav-sidebar .nav-link:hover, .nav-sidebar .btn:hover {
    /* Hover effect for links */
    background-color: #e9ecef; /* Light grey background on hover */
    color: #333; /* Slightly darker blue on hover */
}

.nav-sidebar .nav-item {
    /* Spacing between navigation items */
    margin: 0; /* Remove default margin */
}

.nav-sidebar hr {
    /* Styling for horizontal dividers */
    margin: 0; /* Remove default margins */
}