.product-search-result img {
    width: 300px;
    height: 300px;
    max-width: 300px;
    max-height: 300px;
}

.fa-star-checked {
    color: yellow;
}

.price {
    color: green;
}

.btn-toggle-collapse {
    background: none;
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-size: 1.25em; /* Adjust the font size as needed */
    font-weight: bold; /* Optional, for emphasis */
}
.breadcrumb-btn {
    padding: 0; /* Adjust to match the li padding */
    font-size: inherit; /* Inherits the font size from the breadcrumb */
    line-height: inherit; /* Inherits the line height from the breadcrumb */
}