@using BlazorElectronics.Client.Services.Cart
@using Blazored.LocalStorage
@using BlazorElectronics.Shared.DtosInbound.Products
@using BlazorElectronics.Shared.Mutual
@inject ICartService CartService
@inject NavigationManager NavManager;
@implements IDisposable

<button class="btn btn-info cart-counter" @onclick="GoToCart">
    <span class="badge"> <i class="oi oi-cart"></i>@_cartCount</span>
</button>

@code 
{
    string message = string.Empty;
    int _cartCount = 0;
    
    async Task<int> GetCartItemsCount()
    {
        Cart_DTO? cart = await CartService.GetItemsFromLocalStorage();
        return cart?.Items.Count ?? 0;
    }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            _cartCount = await GetCartItemsCount();
            StateHasChanged();
        }
        catch ( Exception e )
        {
            message = e.Message;
        }
    }
    protected override void OnInitialized()
    {
        CartService.OnChange += OnCartChange;
    }
    public void Dispose()
    {
        CartService.OnChange -= OnCartChange;
    }
    void GoToCart()
    {
        NavManager.NavigateTo( "cart" );
    }
    void OnCartChange( int count )
    {
        _cartCount = count;
        StateHasChanged();
    }
}