@using Blazored.LocalStorage
@using BlazorElectronics.Client.Services.Cart

@implements IDisposable

@inject ICartServiceClient CartService
@inject NavigationManager NavManager;

<button class="btn cart-counter" @onclick="GoToCart">
    <i class="oi oi-cart"></i>
    <span>@_cartCount</span>
</button>

@code 
{
    string _message = string.Empty;
    int _cartCount = 0;

    protected override async Task OnInitializedAsync()
    {
        //_cartCount = await CartService.GetCartItemsCount();
        StateHasChanged();
    }
    protected override void OnInitialized()
    {
        CartService.OnChange += OnCartChange;
    }
    public void Dispose()
    {
        CartService.OnChange -= OnCartChange;
    }
    void GoToCart()
    {
        NavManager.NavigateTo( "cart" );
    }
    void OnCartChange( int count )
    {
        _cartCount = count;
        StateHasChanged();
    }
}