@using BlazorElectronics.Client.Services.Cart
@using Blazored.LocalStorage
@using BlazorElectronics.Shared.DtosInbound.Products
@using BlazorElectronics.Shared.Mutual
@inject ICartService CartService
@inject ISyncLocalStorageService LocalStorage
@implements IDisposable

<a href="cart" class="btn btn-info">
    <span class="badge"><i class="oi oi-cart"></i>@GetCartItemsCount()</span>
</a>

@code 
{
    int GetCartItemsCount()
    {
        var cart = LocalStorage.GetItem<List<CartItem_DTO>>( "cart" );
        return cart?.Count ?? 0;
    }

    protected override void OnInitialized()
    {
        CartService.OnChange += StateHasChanged;
    }

    public void Dispose()
    {
        CartService.OnChange -= StateHasChanged;
    }
}