@using BlazorElectronics.Shared.DataTransferObjects.Categories
@using BlazorElectronics.Client.Services.Categories
@using BlazorElectronics.Shared

@inject ICategoryServiceClient CategoryService

<div class="category-list">
    @if ( !_loadedCategories || _categories == null )
    {
        <span>@_categoryMessage</span>
    }
    else
    {
        <ul class="nav flex-column">
            @foreach ( int categoryId in _categories.PrimaryCategoryIds )
            {
                <li class="nav-item">
                    <a class="nav-link category-nav-link" href="@_categories.CategoriesById[ categoryId ].Url">
                        @_categories.CategoriesById[ categoryId ].Name
                    </a>
                </li>
            }
        </ul>
    }
</div>

@code 
{
    bool _loadedCategories = false;
    string _categoryMessage = "Loading Categories...";

    Categories_DTO? _categories;

    protected override async Task OnInitializedAsync()
    {
        ServiceResponse<Categories_DTO?> response = await CategoryService.GetCategories();
        _loadedCategories = true;

        if ( !response.Success )
        {
            _categoryMessage = response.Message!;
            return;
        }

        _categories = response.Data;
    }
}