@using BlazorElectronics.Client.Services.Categories
@using BlazorElectronics.Shared
@using BlazorElectronics.Shared.Outbound.Categories

@inject ICategoryServiceClient CategoryService

<div class="category-list">
    @if ( !_loadedCategories || _categories == null )
    {
        <span>@_categoryMessage</span>
    }
    else
    {
        <ul class="nav flex-column">
            @foreach ( PrimaryCategoryResponse p in _categories.Primary )
            {
                <li class="nav-item">
                    <a class="nav-link category-nav-link" href="@p.Url">
                        @p.Name
                    </a>
                </li>
            }
        </ul>
    }
</div>

@code 
{
    bool _loadedCategories = false;
    string _categoryMessage = "Loading Categories...";

    CategoriesResponse? _categories;

    protected override async Task OnInitializedAsync()
    {
        ApiReply<CategoriesResponse?> response = await CategoryService.GetCategories();
        _loadedCategories = true;

        if ( !response.Success )
        {
            _categoryMessage = response.Message!;
            return;
        }

        _categories = response.Data;
    }
}