@inherits LayoutComponentBase

<div class="page">
    <main>
        <NavMenu></NavMenu>
        <article class="content main-article main-container">
            @Body
        </article>
    </main>
</div> 