@using BlazorElectronics.Client.Services.Categories
@using BlazorElectronics.Shared
@using BlazorElectronics.Shared.Categories
@inherits RazorView

<header class="p-0 ">
    
    <NavSidebar NavMenu="@this"></NavSidebar>
    
    <div class="container-fluid border-bottom py-3 top-nav bg-light">
        <div class="d-flex flex-nowrap align-items-center justify-content-between top-nav-inner">
            <div class="d-flex align-items-center justify-content-between gap-3">
                <button class="btn" onclick="@OpenSidebar">
                    <i class="oi oi-menu"></i>
                </button>
                <a class="logo" href="@Routes.HOME">
                    <img src="/Images/Logo.svg" alt="Blazor">
                </a>
            </div>
            <div class="d-none d-lg-flex big-searchbar mx-lg-auto">
                <ProductSearchBar></ProductSearchBar>
            </div>
            <div class="d-flex align-items-center justify-content-between gap-3">
                <div class="d-none d-lg-block">
                    <UserButton></UserButton>
                </div>
                <CartCounter></CartCounter>
            </div>
        </div>
    
        <!-- Second row exclusively for search bar on small screens -->
        <div class="container-fluid d-lg-none mt-3">
            <ProductSearchBar></ProductSearchBar>
        </div>
    </div>


    <div class="d-none d-lg-block container-fluid py-1 bg-light border-bottom shadow-bottom top-nav-secondary">
        @if ( _categories is not null )
        {
            <div class="d-flex flex-nowrap align-items-center justify-content-evenly">
                <ul class="nav">
                    @foreach ( int id in _categories.PrimaryIds )
                    {
                        if ( _categories.CategoriesById.TryGetValue( id, out CategoryFullDto? c ) )
                        {
                            <li class="nav-item mx-4"><a class="nav-link link-dark" href="search/@c.ApiUrl">@c.Name</a></li>
                        }
                    }
                </ul>
            </div>   
        }
    </div>
</header>