@using BlazorElectronics.Client.Services.Categories
@using BlazorElectronics.Shared
@using BlazorElectronics.Shared.Categories
@inherits RazorView

<header class="p-0 ">
    
    <NavSidebar NavMenu="@this"></NavSidebar>
    
    <div class="container-fluid py-3 bg-dark text-white border-bottom shadow-bottom">
        <div class="d-flex flex-nowrap align-items-center justify-content-between top-nav">
            <button class="btn btn-secondary" onclick="@ToggleSidebar">
                <i class="oi oi-menu"></i>
            </button>
            <button class="btn logo-button px-1 py-0" onclick="@GoToHome">
                <img src="/Images/blazor.jpg" alt="Home">
            </button>
            <ProductSearchBar></ProductSearchBar>
            <CartCounter></CartCounter>
        </div>
    </div>
    <div class="container-fluid bg-dark text-white border-bottom shadow-bottom">
        @if ( _categories is not null )
        {
            <div class="d-flex flex-nowrap align-items-center justify-content-evenly">
                <ul class="nav">
                    @foreach ( int id in _categories.PrimaryIds )
                    {
                        if ( _categories.CategoriesById.TryGetValue( id, out CategoryModel? c ) )
                        {
                            <li class="nav-item mx-4"><a class="nav-link link-light" href="search/@c.ApiUrl">@c.Name</a></li>
                        }
                    }
                </ul>
            </div>   
        }
    </div>
</header>