@using BlazorElectronics.Shared.DataTransferObjects.Products
@using BlazorElectronics.Client.Services.Products
@inject IProductServiceClient ProductServiceClient;

@if ( ProductServiceClient.Products is not { Count: > 0 } ) {
    <span>Loading Products...</span>
}
else {
    <ul class="list-unstyled">
        @foreach ( Product_DTO product in ProductServiceClient.Products ) {
            <li class="pl-item my-3">
                <div class="pl-item-img-wrapper mr-2">
                    <a href="/Product/@product.Id">
                        <img class="pl-item-img" src="@product.Thumbnail" alt="@product.Title"/>
                    </a>
                </div>
                <div class="pl-item-body">
                    <a href="/Product/@product.Id">
                        <h4 class="mb-0">@product.Title</h4>
                    </a>
                </div>
            </li>
        }
    </ul>   
}

@code {
    protected override async Task OnInitializedAsync() { await ProductServiceClient.GetProducts(); }
}