@inherits RazorView

<div class="sort-container">
    
    <div class="row mb-3">
        <div class="col">
            <div class="input-group align-items-center">
                <span class="input-group-text" id="basic-addon1">Search Within:</span>
                <input type="text" id="searchInput" class="form-control" placeholder="Type to search..." @bind="@_textSearch" @bind:event="oninput" />
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">
                    <span class="oi oi-magnifying-glass"></span>
                </button>
            </div>
        </div>
    </div>

    <div class="row">
        
        <div class="col-md-auto align-items-center">
            <div class="dropdown">
                <label for="dropdownMenuButton1" class="form-label">Order by:</label>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    @_currentSortOption
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    @for ( int i = 0; i < _sortOptions.Count; i++ )
                    {
                        int localIndex = i; // Create a local copy of the loop variable
                        <li><button class="dropdown-item" type="button" @onclick="() => SelectOption( localIndex )">@_sortOptions[ localIndex ]</button></li>
                    }
                </ul>
            </div>
        </div>

        <div class="col d-flex justify-content-end">
            <!-- View rows dropdown -->
            <div class="dropdown me-3 align-items-center">
                <label for="rowsPerPageDropdown" class="form-label me-2">View:</label>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="rowsPerPageDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                    @_rowsPerPage
                </button>
                <ul class="dropdown-menu" aria-labelledby="rowsPerPageDropdown">
                    @foreach (int num in _rowsPerPageOptions)
                    {
                        <li><button class="dropdown-item" type="button" @onclick="() => SelectRowsPerPage(num)">@num</button></li>
                    }
                </ul>
            </div>

            <!-- Pagination controls -->
            <div class="d-flex align-items-center">
                <span class="mx-2">Page @_currentPage/@_totalPages</span>
                <button class="btn btn-outline-secondary" type="button" @onclick="PreviousPage">
                    <span class="oi oi-chevron-left"></span>
                </button>
                <button class="btn btn-outline-secondary" type="button" @onclick="NextPage">
                    <span class="oi oi-chevron-right"></span>
                </button>
            </div>
        </div>

    </div>

</div>