@page "/review"
@inherits BlazorElectronics.Client.Pages.User.UserPage
@using BlazorElectronics.Client.Shared

<div class="mx-auto product-details-container">
    <PageLoader Page="@this"></PageLoader>
    <div class="mt-3">
        <AlertMessage Page="@this"></AlertMessage>
    </div>
</div>