@typeparam TItem where TItem : BlazorElectronics.Shared.CrudView
@typeparam TEdit where TEdit : BlazorElectronics.Shared.ICrudEdit, new()

<div class="form-header">
    <h3>@Page.PageTitle</h3>
    <button class="btn btn-link back-button" type="button" @onclick="@Page.GoBack">
        <span class="oi oi-arrow-left"></span> Back
    </button>
</div>

@code 
{
    [Parameter] public CrudPage<TItem, TEdit> Page { get; set; } = null!;
}