@page "/admin/crud/features"
@using BlazorElectronics.Shared;
@using BlazorElectronics.Shared.Features;
@using BlazorElectronics.Client.Shared
@inherits CrudPage<CrudViewDto, FeatureDtoEditDto>

<div class="container-sm form-wrapper">
    <PageLoader Page="@this"></PageLoader>
    
    @if ( PageIsReady() )
    {
        if ( !IsEditing )
        {
            <CrudViewTable Page="@this"></CrudViewTable>
        }
        else
        {
            <CrudHeader Page="@this"></CrudHeader>

            <EditForm Model="ItemEdit" OnSubmit="( async () => await Submit() )">
                <div class="mb-3">
                    <label for="Name" class="form-label">Feature Name</label>
                    <InputText @bind-Value="ItemEdit.Name" class="form-control" id="Name"></InputText>
                </div>
                <div class="mb-3">
                    <label for="ApiUrl" class="form-label">Url: include query parameters</label>
                    <InputText @bind-Value="ItemEdit.Url" class="form-control" id="ApiUrl"></InputText>
                </div>
                <div class="mb-3">
                    <label for="ImageUrl" class="form-label">Image Url</label>
                    <InputText @bind-Value="ItemEdit.Image" class="form-control" id="ImageUrl"></InputText>
                </div>
                
                <FormSubmit Page="@this"></FormSubmit>
            </EditForm>
        }
    }
</div>